<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.imetlin.fishmarker">
    <!--
//  1)работа с интернет
    2)доступ к информации в сети
    3)Позволяет приложению писать на внешнее хранилище.
    5)Приложение сможет получать доступ к приблизительному местоположению.
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    6)Приложение сможет получать доступ к точному местоположению.

    in aplication
    android:roundIcon="@mipmap/ic_launcher_round"
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconsfish"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".firebaseAuth.SignInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardMarkerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebaseAuth.RegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".firebaseAuth.ForgotPassword"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZPXHUCqXQFVOSsnBUVcNvl8ABg25L13I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>