<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.imetlin.fishmarker">
    <!--
//  1)работа с интернет
    2)доступ к информации в сети
    3)Позволяет приложению писать на внешнее хранилище.
    5)Приложение сможет получать доступ к приблизительному местоположению.
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    6)Приложение сможет получать доступ к точному местоположению.

    in aplication
    android:roundIcon="@mipmap/ic_launcher_round"
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x0020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconsfish"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">




        <activity android:name=".dialog.ProgressActivity"></activity>

        <!--android:name=".firebaseAuth.SignInActivity"-->

        <activity
            android:name=".firebaseAuth.SignInActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userplaces.PlacesUserActivity"
            android:label="@string/places"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:label="@string/markers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CardMarkerActivity"
            android:label="@string/add_marker_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/water_object"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebaseAuth.RegistrationActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebaseAuth.ForgotPassword"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait" />

        <activity
             android:name=".userplaces.PlacesUserMapActivity"
             android:label="@string/add_places"
             android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZPXHUCqXQFVOSsnBUVcNvl8ABg25L13I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


   <!-- <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
    <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
        <intent-filter> <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
</intent-filter> </activity>-->

</manifest>